<% include ../partials/head %> 
<div class="input">
	<form action="/users/signup" method=post>
		<ul>
			<li>
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
			</li>

			<li>
			<label for="passwordl">Password</label>
			<input type="password" name="password" id="password">
			</li>

			<li>
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" name="confirmPassword" id="confirmPassword">
			</li>

			<li>
			<button type="submit">Sign up</button>
			</li>
		</ul>
	</form>
</div>
<% include ../partials/footer %>
