<% include ../partials/head %> 
    <% if (blogs.length != 0) { %>
        <% for (let index=0; index<blogs.length; index++) { %>
            <div>
                <a href="/blog/<%= blogs[index].name %>"><h2><i class="glyphicon glyphicon-home"></i><%=blogs[index].name %></h2></a>
                <div> 
                    <%= blogs[index].description %><br> 
                    <%= blogs[index].createdAt %><br> 
                </div>
            </div>
        <% } %>
    <% } %> 
    <a href="/blog/create" class="btn btn-primary">Create Blog</a>
<% include ../partials/footer %>
